.error {
  text-align: center;
  padding: 0 70px;
  margin: 0 auto;
  color: #ee3465;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
