.search-form {
  padding: 70px 70px 48px 70px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-form__form {
  margin: 0;
  padding: 0 0 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  transition: border-bottom 0.4s ease-out;
}

.search-form__form:hover {
  border-bottom: 1px solid #aaa9a9;
}

.search-form__input {
  padding: 0;
  width: 90%;
  max-height: 34px;
  border: none;
  outline: none;
  color: #8b8b8b;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
}

.search-form__button {
  width: 59px;
  height: 34px;
  padding: 0;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-repeat: no-repeat;
  outline: none;
  background-color: #511c47;
  border-radius: 48px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  transition: opacity 0.4s ease-out;
}

.search-form__button:hover {
  opacity: 0.7;
}

.search-form__button:disabled {
  opacity: 0.5;
}

.search-form__error {
  margin: 10px 0 0 0;
  width: 80%;
  min-height: 12px;
  color: #ee3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__items {
  overflow-y: scroll;
  max-height: 300px;
  background-color: rgb(84, 84, 84);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: content-box;
  position: absolute;
  width: 83.5%;
  top: 67%;
}

.search-form__item {
  border-bottom: 1px solid black;
  padding: 10px 20px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s;
  cursor: pointer;
}

.search-form__item:hover {
  background-color: #511c47;
  color: white;
}
